@model IEnumerable<Item>

@{
    ViewData["Title"] = "List of Items";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
                    <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                    <th>@Html.DisplayNameFor(model => model.Subject)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.CreatedBy.UserName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td class="align-middle">
                            @if (User.IsInRole("Admin") || item.CreatedByUserId == ViewBag.CurrentUser?.Id)
                            {
                                <a class="btn btn-outline-primary" asp-controller="Items" asp-action="Edit" asp-route-id="@item.Id">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                            } 

                            <a class="btn btn-outline-info" asp-controller="Items" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i> Details</a> 

                            @if (User.IsInRole("Admin") || item.CreatedByUserId == ViewBag.CurrentUser?.Id)
                            {
                                <a class="btn btn-danger" asp-controller="Items" asp-action="Delete" asp-route-id="@item.Id">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if (User.IsInRole("User") || User.IsInRole("Admin"))
{
    <div style="position: fixed; right: 25px; bottom: 80px;" class="text-white">
        <a asp-controller="Items" asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Add New Item
        </a>
    </div>
}
